{% extends "base.html" %}
{% block body %}
<section class="ftco-section ftco-services">
	<div class="container-wrap mt-5">
		<div class="row d-flex no-gutters">
			<div class="col-md-6 img" id="mypic" style="background-image: url(static/images/mypic.jpg);">
			</div>
			<div class="col-md-6 d-flex">
				<div class="services-wrap">
					<div class="heading-section mb-5 ftco-animate fadeInUp ftco-animated">
						<h2 class="mb-2">Добро пожаловать!</h2>
						<h3><span class="subheading">Если вы задумываетесь о найме нового сотрудника или вы уже магистр джэдай и ищите подавана для передачи своих знаний в надежные руки то вы попали по адрессу.</span></h3>
						<h5>Вот что я умею:</h5>
					</div>
					<div class="list-services d-flex ftco-animate fadeInUp ftco-animated">
						<div class="icon d-flex justify-content-center align-items-center">
							<img src="static/images/Pyth.png" class="img-fluid" alt="">
						</div>
						<div class="text">
							<h3>Python</h3>
							<p>Один из самых популярных популярных языков прогармиирования. Привлекает своей простотой и большим спектром возможностей.</p>
						</div>
					</div>
					<div class="list-services d-flex ftco-animate fadeInUp ftco-animated">
						<div class="icon d-flex justify-content-center align-items-center">
							<img src="static/images/pep.png" class="img-fluid" alt="">
						</div>
						<div class="text">
							<h3>Flask</h3>
							<p>Микрофреймвок для создания веб приложений.</p>
						</div>
					</div>
					<div class="list-services d-flex ftco-animate fadeInUp ftco-animated">
						<div class="icon d-flex justify-content-center align-items-center">
							<img src="static/images/ccc.png" class="img-fluid" alt="">
						</div>
						<div class="text">
							<h3>HTML+CSS+JS</h3>
							<p>Джентельменский набор для минимальной работы в вебе.</p>
						</div>
					</div>
					<div class="list-services d-flex ftco-animate fadeInUp ftco-animated">
						<div class="icon d-flex justify-content-center align-items-center">
							<img src="static/images/boot2.webp" class="img-fluid" alt="">
						</div>
						<div class="text">
							<h3>Bootstrap</h3>
							<p>CSS фреймворк для верстки. Прост и удобен в использовании.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
